<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h1 class="page-header">Users</h1>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <a class="btn btn-default" href="#/add-make">Add Make</a>
    </div>
    <div class="col-lg-2"></div>
</div>
<br />
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <label class="control-label">{{ vm.totalItems }} Total Users</label>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <table class="table table-striped table-hover table-condensed">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Edit
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="make in vm.makes">
                    <td>
                        {{ make.name }}
                    </td>
                    <td>
                        <a class="btn btn-default" href="#/update-make/{{ make.makeId }}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.currentPage" ng-change="vm.pageChanged()" max-size="7" boundary-links="true"
                    rotate="false"></pagination>
    </div>
    <div class="col-lg-2"></div>
</div>
